<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>요청 url : http://localhost:8080/post/edit</p>
<p>
  요청 형식<br>
  var request = http.MultipartRequest('POST', Uri.parse('http://localhost:8080/post/edit'));<br>
  request.fields.addAll({<br>
  'userId': 'test111',<br>
  'contents': '테스트중1111',<br>
  'title': '테스트중11111',<br>
  'category': '일기',<br>
  'disclosure': '일부 공개',<br>
  'possibleReply': '일부 공개',<br>
  'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ0ZXN0MTExIiwiaWF0IjoxNjkzMzMzNTgxLCJleHAiOjE2OTM0MTk5ODEsInN1YiI6IldyaXRlckxvZ0lkIn0.fNPQWbsOb7xsaPQ5DSGiAjPkv5eY6Pfp74oI87By2nA',<br>
  'root': 'test111',<br>
  'visiblyLike': '일부 공개',<br>
  'id': '5'<br>
  });<br>
  request.files.add(await http.MultipartFile.fromPath('file', '/C:/Users/kwh87/OneDrive/바탕 화면/히후미.jpg'));<br>
  request.headers.addAll(headers);<br>
</p>
<p>반환 : ok, 에러발생</p>
</body>
</html>