<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>요청 url : http://localhost:8080/post/find-follower</p>
<p>
    요청 형식{
    "token":"토큰",
    "id":"alsdnd336@naver.com"
    }
</p>
<p>반환<br>
    {<br>
    "token":"토큰",<br>
    "id": 40,<br>
    "userId": "alsdnd336@naver.com",<br>
    "contents": "So you can keep me",<br>
    "title": "hello world ",<br>
    "imgLocation": null,<br>
    "category": "일기",<br>
    "disclosure": "비공개",<br>
    "possibleReply": "모두 공개",<br>
    "date": "2023-08-13T15:56:34",<br>
    "img": null<br>
    }
    <br>
</p>
</body>
</html>