<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>요청 url : http://localhost:8080/profile/set</p>
<p>
    요청형식 <br>
    var request = http.MultipartRequest('POST', Uri.parse('http://localhost:8080/profile/set'));<br>
    request.fields.addAll({<br>
    'userId': 'test1',<br>
    'info': 'test1',<br>
    'nickname': 'test1',<br>
    'password': 'test1'<br>
    'name': 'test1'<br>
    "birth" : "생년월일",<br>
    'phoneNumber': 01012345678<br>
    'gender': true<br>
    });<br>
    request.files.add(await http.MultipartFile.fromPath('file', '/C:/Users/kwh87/OneDrive/바탕 화면/히후미.jpg'));<br>
    <br>
    userId만 필수고 나머지는 변경되는 내용만 포함해서 보내주시면 됩니다.
</p>
<p>반환 형식<br>
잘되면 ok, 안되면 cancel
</p>
</body>
</html>