<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>요청 url : http://localhost:8080/profile</p>
<p>
  요청 형식<br>
  {<br>
  "token":"토큰"<br>
  "id" : "아이디",<br>
  }
  <br>
</p>
<p>반환 형식<br>
  [{<br>
  "id": "test1",<br>
  "password": "테스트",<br>
  "name": "kkk",<br>
  "info": "테스트입니다.",<br>
  "phoneNumber": "01012341234",<br>
  "nickname": "테스트",<br>
  "gender": true,<br>
  "birth" : "성별",<br>
  "imgLocation": "C:/Users/kwh87/test1/profile/히후미.jpg"<br>
  }<br>
  쓴글 post<br>
  {<br>
  "id": 44,<br>
  "userId": "alsdnd336@naver.com",<br>
  "nickname": null,<br>
  "contents": "<p>Hello world&nbsp;</p>",<br>
"title": "photograph",<br>
"imgLocation": "/Users/gimmin-ung/ImageServer/alsdnd336@naver.com/post/image.png",<br>
"category": "동기부여",<br>
"disclosure": "모두 공개",<br>
"possibleReply": null,<br>
"date": "2023-08-13T16:32:12"<br>
  }<br>
  ]</p>
</body>
</html>