@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gasoek+One&family=Nanum+Gothic&family=Noto+Sans+KR&family=Song+Myung&display=swap');

/* font-family: 'Dongle', sans-serif;
font-family: 'Gasoek One', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Song Myung', serif; */

body{
    margin: 0px;
}

#user_input {
    margin: 15px 10px;
    flex: 1;
    padding: 0;
    width: 100vh;
    height: 100vh;
    border: none;
    outline: none;
    font-size: 16;
    overflow-x: hidden;
    resize: none;
}
