@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gasoek+One&family=Nanum+Gothic&family=Noto+Sans+KR&family=Song+Myung&display=swap');

/* font-family: 'Dongle', sans-serif;
font-family: 'Gasoek One', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Song Myung', serif; */

#SaveButton {
    height: 40;
}

body{
    margin: 0px;
}

.ck-editor__editable { height: 100vh; }




