<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>요청 url : http://localhost:8080/follow/find-following</p>
<p>
    요청 형식{<br>
    "token":"토큰",<br>
    "id":"아이디"
    }
</p>
<p>반환 형식<br>
    {<br>
    "id": "test1",<br>
    "password": "테스트",<br>
    "name": "kkk",<br>
    "info": "테스트입니다.",<br>
    "phoneNumber": "01012341234",<br>
    "nickname": "테스트",<br>
    "gender": true,<br>
    "imgLocation": "C:/Users/kwh87/test1/profile/히후미.jpg"<br>
    }
</p>
</body>
</html>